  $white-color: #ffffff;
  $black-color: #000000;
  $primary-color: #8c61ff;
  $secundary-color: #44c2fd;
  $tertiary-color: #6592fd;
  $text-primary-color: #0a1929;
  $text-secundary-color: #3e5060;
  $text-body: rgba(0, 0, 0, 0.6);
  $background-color: #eaeaec;


  $font_1: 'Noto Sans', sans-serif;
  $font_2: 'Pacifico', cursive;
  $font_3: 'Lato', sans-serif;

